
.btnCartBadge {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  color: #ffffff;
}

.btnCartBadgeShow {
  display: flex;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
